@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: rgb(24 24 27);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
